<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289294966042-vtlitkijfihovh15ubm4ml5sboegfg9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289294966042-vtlitkijfihovh15ubm4ml5sboegfg9s</string>
	<key>API_KEY</key>
	<string>AIzaSyAFVoCHB0BjweVVzdNP6PvCQCD0n74CCkc</string>
	<key>GCM_SENDER_ID</key>
	<string>289294966042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.21500214.handong.edu</string>
	<key>PROJECT_ID</key>
	<string>real-qcue</string>
	<key>STORAGE_BUCKET</key>
	<string>real-qcue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289294966042:ios:dcd9f514540ba402</string>
	<key>DATABASE_URL</key>
	<string>https://real-qcue.firebaseio.com</string>
</dict>
</plist>